

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ee9ca7, #bb8a7b);
}

/*background animasi*/
.falling {
  position: absolute;
  top: -100px;
  width: 40px;
  height: 40px;
  animation: fall linear infinite;
  opacity: 0.8;
}

/* Animasi jatuh + rotasi */
@keyframes fall {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  25% {
    transform: translateX(30px) translateY(37.5vh) rotate(90deg);
  }
  50% {
    transform: translateX(-30px) translateY(75vh) rotate(180deg);
  }
  75% {
    transform: translateX(20px) translateY(112.5vh) rotate(270deg);
  }
  100% {
    transform: translateX(-20px) translateY(150vh) rotate(360deg);
  }
}
/*background tb css end*/

/*password logic*/
.containerpop {
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.clue {
    width: 40%;  
}
input {
  padding: 10px;
  width: 220px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background: #a38368;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #deae87;
}

#errorBox {
  text-align: center;
  color: #ff4444;
  background: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

#errorBox.show {
  opacity: 1;
  transform: translateY(0);
}

.hidden {
  display: none;
  pointer-events: none;
}

/* Efek getar (shake) */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-10px); }
  40%, 80% { transform: translateX(10px); }
}

.shake {
  animation: shake 0.4s ease;
}

/*popup0*/
/* Popup overlay */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.5s ease;
}

.popup.hidden {
  opacity: 0;
  pointer-events: none;
}

.popup-content {
  background: white;
  border-radius: 15px;
  text-align: center;
  padding: 25px 40px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  animation: popIn 0.6s ease;
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content button {
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  background: #a38368;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-content button:hover {
  background: #deae87;
}


/*popup 1/kue*/
.popup1 {
  position: relative;
    width: 80vw;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    background-color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popIn 0.5s ease;
    overflow: hidden;
  }
  .popup1.hidden {
  display: none !important;
}
/* .debug-show {
  display: block !important;
  } */
  .karakter1,
.karakter2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 71%;
  height: auto;
  object-fit: contain;
  pointer-events: none;
}

.karakter1 {
  width: 96%;
  animation: fadeOutLeft 0.8s ease forwards;
  animation-delay: 7s;
}
.karakter2 {
  width: 61%;
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-90%);
  opacity: 0;
  animation: fadeInLeft 0.8s ease forwards;
  animation-delay: 7.4s;
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(calc(-50% - 30px), -50%);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-80%);
  }
  to {
    opacity: 1;
    transform: translateX(-90%);
  }
}


/*kue*/
.kue {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 8%));
  width: 80%;
  height: auto;
  pointer-events: none;
}
 
/* kue */
#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/

.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.4px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  transform: translateY(-300px);
  backface-visibility: hidden;
  animation: in 500ms 6s ease-out forwards;
}
.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}
.velas:after {
  top: 25%;
  left: 0;
}
.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/

.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.6px;
  width: 6.66666667px;
  height: 18px;
  opacity: 1;
  transition: opacity 1s ease-out;
}
.fuego:nth-child(1) {
  animation: fuego 2s 6.5s infinite;
}
.fuego:nth-child(2) {
  animation: fuego 1.5s 6.5s infinite;
}
.fuego:nth-child(3) {
  animation: fuego 1s 6.5s infinite;
}
.fuego:nth-child(4) {
  animation: fuego 0.5s 6.5s infinite;
}
.fuego:nth-child(5) {
  animation: fuego 0.2s 6.5s infinite;
}

.fuego.mati {
  opacity: 0;
  animation: none;
}

/* ============================================== Animation Fire
*/

@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    transform: translateY(0) scale(1);
  }
  50% {
    background: rgba(255, 50, 0, 0.1);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    transform: translateY(-20px) scale(0);
  }
}

@keyframes in {
  to {
    transform: translateY(0);
  }
}



.tap-area {
  position: absolute;
  left: 52%;
  bottom: 40%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.6s ease;
  display: none;
}

.tap-icon {
  width: clamp(20px, 4.5vw, 38px);
  opacity: 0.75;
  animation: bounce 1.4s infinite ease-in-out;
}

.tap-text {
  margin-top: 0.5vh;
  font-size: clamp(10px, 2.6vw, 16px);
  color:#ffffff;
  opacity: 0.75;
  text-shadow: 0 0 0.8em rgba(0, 0, 0, 0.6);
  font-weight: bold;
  animation: bounce 1.4s infinite ease-in-out;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2vh); }
  100%  { transform: translateY(0); }
}

.tap-show {
  display: block;
  pointer-events: auto;
}

.popup2 {
  position: fixed;
  border-radius: 2rem;
  max-width: 25rem;
  height: auto;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  padding: 2rem;
  z-index: 999;
  animation: popIn 0.8s ease;
}

.popup2.hidden {
  display: none;
  pointer-events: none;
}

.popup2-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup2-content h2 {
  position: relative;
  top: -1rem;
}
.content2 {
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.karakter3 {
  position: relative;
  width: 10rem;
  right: -1rem;
}

.content2 p {
  text-align: center;
}
@keyframes popIn {
  0% { transform: scale(0.7); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.popup3 {
  position: fixed;
  border-radius: 2rem;
  max-width: 25rem;
  height: auto;
  max-height: 40rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  padding: 2rem;
  z-index: 999;
  animation: popIn 0.5s ease;
}

.popup3.hidden {
  display: none;
  pointer-events: none;
}

.popup3-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup3-content h2 {
  position: relative;
  top: -1rem;
}
.content3 {
  position: relative;
  top: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content3 p {
  text-align: center;
  font-size: medium;
}

.popup4 {
  position: fixed;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  margin: 0;
  max-width: 25rem;
  height: auto;
  max-height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: popIn 0.5s ease;
}
.popup4.hidden {
  display: none;
  pointer-events: none;
}
.popup4-content {
    background-color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.penutup {
  position: relative;
  top: 0;
  left: 0;
  width: 13rem;  
}
input {
  padding: 10px;
  width: 220px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background: #a38368;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #deae87;
}

/* ============= NOTIFIKASI ============= */

#notif {
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 12px;
  margin-top: 15px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
}

#notif.show {
  opacity: 1;
  transform: translateY(0);
}



/* last popup */
.popup5 {
  position: fixed;
  border-radius: 2rem;
  max-width: 15rem;
  height: 15rem;
  max-height: 15rem;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  padding: 2rem;
  z-index: 999;
  animation: popIn 0.5s ease;
}

.popup5.hidden {
  display: none;
  pointer-events: none;
}

.popup5-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup5-content .p1 {
  text-align: center;
  font-weight: 700;
}

.popup5-content .p2 {
  text-align: center;
}

.b2 {
  position: absolute;
  top: -2rem;
  right: -2rem;
  width: 30%;
  transform: rotate(20deg);
}

.b1 {
  position: absolute;
  bottom: -1.7rem;
  left: -2.9rem;
  width: 45%;
  transform: rotate(350deg);
}

.b3 {
  position: absolute;
  bottom: -3.2rem;
  right: -4rem;
  width: 50%;
  transform: rotate(20deg);
}


